body{
	margin: 0;
	padding: 0;
	position: relative;
}

.rojo{
	background-color: #F81010;
	height: 400px;
	width: 400px;
	position: static;
}

.morado{
	background-color: #9D10C6;
	height: 200Px;
	width: 200px;
	position: relative;
	left: 100px;
	top:100px;

}

.amarillo{
	background-color: yellow; 
	height: 100px;
	width: 100Px;
	position: absolute;

}
/* Inserta tu CSS aqui */